@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .slide {
    animation: slide 0.8s ease-out;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .grid-lg {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .pop {
    animation: pop 0.8s ease-out;
  }
  @keyframes pop {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1.2, 1.2);
    }
  }
}
